

body
{
background:url("../resim/arka.png"); 
margin : 0 0 0 0;
color:#ddd;
font-family:sans-serif;
font-size:0.8em;
height:100%;

line-height:1.2;
} 


form
{
  display:inline;
}

a
{
  text-decoration:none;
 color:#555;
  cursor:pointer;
  
}


a:hover
{
  cursor:pointer;
  text-decoration:underline;
  color:#ff8a00;
}

.golge {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For I E 8 */
    -ms-filter: "progidDXImageTransform.Microsoft.Shadow(Strength4, Direction135, Color#000000";
    /* For I E 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')
}

a,a:hover,input,textarea,select,div,.arama-girdi,img,ul,li
{
-webkit-transition: all 400ms linear; /*safari and chrome */
-moz-transition: all 400ms linear; /* firefox */
-o-transition: all 400ms linear; /* opera */
transition: all 400ms linear; 
}

input[type=text],
input[type=password],
.girdi,
input[type=text]:hover,
input[type=password]:hover,
.girdi:hover,
input[type=text]:focus,
input[type=password]:focus,
.girdi:focus
{
 height:28;
 color:#555;
 font-weight:bold;
 padding:8 2;
 margin:1; 
 background:#222;
 border:1px solid #333;
 -moz-box-shadow: inset 0 0 1px 1px #333;
-webkit-box-shadow: inset 0 0 1px 1px #333;
box-shadow: inset 0 0 1px 1px #333;
 
}

input[type=text]:focus,
input[type=password]:focus,
.girdi:focus
{
 border:1px solid #AAA; 
}




input[type=submit],
input[type=button],
.dugme,
input[type=submit]:hover,
input[type=button]:hover,
.dugme:hover
{
  padding:5 10;
  border:1px solid #222;
  background:url("../resim/dugme.png");
  color:#555;
  cursor:pointer;
  
}
input[type=submit]:hover,input[type=button]:hover
{
  border:1px solid #555;  
}

ul 
{
  padding:0 20;margin:0;
 list-style-type:circle; 
}

.temizle
{
clear:both;  
}


.eklenti
{
  width:230;

  margin-bottom:5;
}


.eklenti-baslik
{
  width:100%;
  height:34;
  text-transform:uppercase;
  color:#d00;
  border-bottom:1px solid #333;
/*   background:url("../resim/eklenti_baslik.png") no-repeat; */
  font-weight:bold;
  line-height:2.4;
  font-size:1.2em;
  padding-left:5;
}

.eklenti-orta
{
  padding:5;
  
}

.eklenti-orta ul{padding:0 ;margin:0;list-style-type:none;}

.eklenti-orta ul li{padding:5 0;border-bottom:1px solid #222;}

.eklenti-orta ul li a{padding:5;}

.eklenti-orta ul li a:hover{background:#ff8a00;cursor:pointer;color:#FFF;text-decoration:none;}

.eklenti-liste
{
  width:100%;
  padding:1;
  border-bottom:1px solid #333;
  display:block;
  font-size:0.9em;
}

.eklenti-liste-resim
{
  width:40;
  height:40;
       clip:rect(5px,40px,40px,5px);
       position:absolute;
       top:-5;
       left:-5;
}

.eklenti-liste table
{
padding:0;
height:40;
margin:0;
width:100%;
}

.eklenti-liste table td
{
  text-align:left;
padding:2;
margin:0;
vertical-align:top;
position:relative;
}

.eklenti-liste table td a
{
color:#555;
}

.eklenti-liste table td a:hover
{
color:#ff8a00;
}



.eklenti-liste-resim
{
  width:37;
  height:40;
  float:left;
overflow:hidden;
}

.eklenti-liste-resim img
{
  width:37;
}

.eklenti-liste-baslik
{
  width:180;
  height:40;
  float:left;
  padding-left:5;
  overflow:hidden;
}


.uyari
{
  width:950;
  border-bottom:1px solid #222;
  background:#0f0;
  padding:5;
  margin-bottom:5;
  color:#000;
}

.hata
{
    width:950;
  border-bottom:1px solid #222;
  background:#F00;
  padding:5;
   margin-bottom:5;
}



.dip
{
  width:100%;
  height:100;
  display:block;
  margin-top:10;
  background:url("../resim/dip.png") top center no-repeat;
  color:#555;
 padding:30;
 text-align:center;
 font-weight:bold;
}

.govde
{
width:100%;
position:relative;
}


.ana
{
 width:950;
text-align:left;
 display:block;


/* background-image: -webkit-linear-gradient(top, #f1f1f1, #fff);
background-image: -moz-linear-gradient(top, #f1f1f1, #fff);
background-image: -ms-linear-gradient(top, #f1f1f1, #fff);
background-image: -o-linear-gradient(top, #f1f1f1, #fff);
background-image: linear-gradient(top, #f1f1f1, #fff);*/

	
}

.baslik
{
  height:150;
width:100%;
display:block;

}

.baslik-orta
{
  margin:auto;
  width:950;  
  position:relative;
}

.baslik-logo
{
  height:150;
  width:320;
  background:url("../resim/baslik.png") no-repeat;
  float:left;
}

.baslik-lisan
{
    height:150;
  width:620;
  float:left;
  padding:30;
  padding-top:40;
  font-size:1.1em;
  color:#555;
  font-weight:bold;
 vertical-align:middle;
}

.baslik-lisan p
{
  text-align:left;
 vertical-align:middle;
}

.gobek{

display:block;
}

.orta
{
 width:700;
 float:left;
margin-left:10;

}

.yan
{
  padding:5;
  
 width:240;
 float:left;
   background:url("../resim/tablo_arka.png");
  border:1px solid #333;
 -moz-box-shadow: 0 0 1px 1px #222;
-webkit-box-shadow: 0 0 1px 1px #222;
box-shadow: 0 0 1px 1px #222;

-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}



.sayfala
{
 padding:1%;
 text-align:left;
margin-top:25;
 color:#555;
 font-size:1.2em;
}

.sayfala .dugme,.sayfala .dugme-uzerinde
{
  padding:3;
   margin:1;
   border:1px solid #222;
   background:#ff8a00;
   color:#FFF;
}

.sayfala .dugme:hover,.sayfala .dugme-uzerinde
{
background:#ff8a00;
border:1px solid #900;
color:#FFF;
}






.eklenti_ust
{
 padding:1; 
 margin-bottom:10;
}

.karart
{background:url("../resim/karart.png");z-index:1;position:absolute;left:0;top:0;width:100%;display:none;}
.orta_pencere
{background:#FFF;z-index:2;left:50%;top:0;position:absolute;padding:5;border:14px solid #EFEFEF;display:none;overflow-y:auto;}



.menu
{
   display:block;

  height:35;
  position:relative;
  width:100%;
  margin-bottom:10;
  font-size:0.9em;
  
}



.menu-ayirac
{
background:url("../resim/menu_ayirac.png");
 width:0;
 margin-top:1;
 height:33;
 float:left;
}
.menu .arama
{
  margin-right:5;
  margin-top:3;
float:right;
  width:205;
  height:26;
}

.menu .arama-girdi,.menu .arama-girdi:hover,.menu .arama-girdi:focus
{
  height:26;
  float:left;
  width:160;
  font-weight:bold;
  color:#555;
  padding:4;
  margin:0;
  
   background:#222;
 border:1px solid #333;
 -moz-box-shadow: inset 0 0 1px 1px #333;
-webkit-box-shadow: inset 0 0 1px 1px #333;
box-shadow: inset 0 0 1px 1px #333;

}

.menu .arama-dugme,.menu .arama-dugme:hover
{
  height:23;
  width:40;
  float:left;
  background:url("../resim/ara.png") no-repeat;
  color:#FFF;
  font-weight:bold;
  font-size:1em;
  line-height:2.3;
  padding:0 5;
 

}

.menu .arama-dugme:hover
{
  background:url("../resim/ara2.png");
}


.menu .dugmeler
{
  background:url("../resim/tablo_arka.png");
  height:35;
  width:950;
 position:relative;
 

  border:1px solid #333;
 -moz-box-shadow: 0 0 1px 1px #222;
-webkit-box-shadow: 0 0 1px 1px #222;
box-shadow: 0 0 1px 1px #222;


-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;


}

.menu .dugmeler ul
{
 padding:0;
 margin:0;
 margin-left:5;
 float:left;
}

.menu .dugmeler ul li
{
 padding:0 ;
 margin:0;
 float:left;
 position:relative;
 cursor:pointer;
}

.menu .dugmeler ul li:hover
{
background:url("../resim/arka.png"); 
}

.menu .dugmeler ul li ul
{ 
width:200;
overflow:hidden;
background:url("../resim/arka.png"); 
  position:absolute;
  top:33;
  left:-5;
  z-index:9999;
display:none
}



.menu .dugmeler ul li ul li a
{
display:block;  
border-bottom:1px solid #222;
padding:0 5;
width:200;
text-align:left;
}

.menu .dugmeler  li a
{
  font-weight:bold;
  font-size:1em; 
  line-height:2.8;
  padding : 10 20;
     text-transform:uppercase;
   color:#ddd;
     letter-spacing:0ex;
}

.menu .dugmeler li a:hover
{ 
  color:#d00;
background:url("../resim/arka.png"); 
  text-decoration:none;
  
}


.kayitlar-satir
{
  width:690;
  height:300;
}

.kayitlar-hucre
{
 width:225; 
 height:300;
 padding:5;
 margin:2;

float:left;
overflow:hidden;
}

.kayitlar-hucre-baslik
{
letter-spacing:0.1ex;
padding:5;
width:100%;
margin-bottom:5;

}

.kayitlar-hucre-baslik a
{
  font-weight:bold;
color:#555; 
}

.kayitlar-hucre-resim
{
height:170;
width:100%;
margin-bottom:5;
overflow:hidden;
text-align:center;
border:1px solid #222;
position:relative;

}

.kayitlar-hucre-resim img 
{
position:absolute;
top:-150;
}

.kayitlar-hucre-orta
{

width:100%;
padding:0 5;
}



.tablo
{
  width:700;

     background:url("../resim/tablo_arka.png");
  border:1px solid #333;
 -moz-box-shadow: 0 0 1px 1px #222;
-webkit-box-shadow: 0 0 1px 1px #222;
box-shadow: 0 0 1px 1px #222;

-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;

margin-bottom:5;
  padding:5;
display:block;
  behavior: url("border-radius.htc");
}

.tablo-uzerinde
{
  border:1px solid #f00;
 -moz-box-shadow: 0 0 1px 1px #f00;
-webkit-box-shadow: 0 0 1px 1px #f00;
box-shadow: 0 0 1px 1px #f00;
cursor:pointer;
}

.tablo-baslik
{
letter-spacing:0.1ex;
padding:5;
margin-bottom:5;
font-weight:bold;
  font-size:1.5em;
  color:#d00;
/* background:url("../resim/tablo_baslik.png"); */

}

.tablo-baslik a
{
/* color:#FFF; */

}


.tablo-resim
{
  width:185;
  height:160;
  float:left;
  margin:5;
overflow:hidden;
  text-align:left;
}

.tablo-aciklama
{

  float:left;
overflow:hidden;
  padding-left:185;
  width:420;
  height:150;
 padding:5; 

}

.tablo-aciklama img
{
  width:600;
}

.tablo-ozellikler
{
  margin-bottom:10;
  padding-left:20;

 width:700;
 height:45;
 background:url("../resim/tablo_ozellik.png") ;
  line-height:3.8;
  color:#FFF;
} 

.tablo-ozellikler-paylas
{
 float:left;
 width:145;
 padding-top:7;
}

.tablo-ozellikler-paylas a
{
margin:2;
  width:25;
  height:25;
  float:left;
}

.tablo-ozellikler-paylas-facebook
{
    background:url("../resim/paylas.png");
}

.tablo-ozellikler-paylas-begen
{
    background:url("../resim/paylas.png") center;
}

.tablo-ozellikler-paylas-rss
{
    background:url("../resim/paylas.png") right ;
}



.tablo-ozellikler-begen
{
 float:left;
 width:160;
}

.tablo-ozellikler-zaman
{
 float:left;
 width:245;
}

.tablo-ozellikler-ziyaret
{
 float:left;
 width:130;
}




.ozellikler
{position:relative; }


.ozellikler .li
{
  z-index:1;position:absolute;right:-390;
  display:none;background:#FFF;border:5px solid #DDD;
  padding:10;width:350;overflow-y:auto;
} 

.tablo .li a,.tablo .li a:hover{color:#F00;padding:1;}

